/* IMPORTACIONES DENTRO DE NUESTRO SCSS*/
/* Importamos nuestra fuente que se usara en todo nuestro proyecto */
@import url("https://use.typekit.net/pkm1thi.css");
/* Importamos el SCSS para particularidades en breaks*/
/* Importamos el SCSS para nuestro formateo*/
/* Formateamos nuestra pagina para empezar a trabajar */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  background-color: transparent;
}

/*Damos un estilo a todo nuestro body*/
body {
  background-color: #F4F3EF;
  animation: transitionIn 1s;
}

/* Ocultamos todos nuestro scrollbar*/
::-webkit-scrollbar {
  display: none;
}

/* Damos formato a nuestros links y como es que se veran. teniendo animaciones */
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: rgb(7, 233, 90);
}

/*Realizamos una trancision cuando se inicia nuestra pagina.*/
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*Se utiliza para la seleccion de texto, cambia sus colores*/
::selection {
  background: #f86011;
  /*Color naranja para el fondo*/
  color: #fff;
  /*Color blanco para el texto seleccionado*/
}

/* Importamos el SCSS para particularidades en contacto*/
#mainCont {
  display: grid;
  grid-template-areas: "hdr" "art" "ico" "logo";
  row-gap: 7%;
  justify-items: center;
}

.conText {
  font-size: 130%;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.logoFooter1 {
  transition: 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  grid-area: logo;
  position: relative;
  top: -60%;
  max-width: 100%;
  background: linear-gradient(to right, rgb(134, 239, 172), rgb(192, 132, 252));
  border-radius: 100%;
}
.logoFooter1:hover {
  transform: translateY(-5%) translateY(2%);
  transition: 1s ease-in-out;
}

.resize {
  width: 20%;
  position: relative;
  top: -80%;
}

.iconosRedes {
  grid-area: ico;
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
}
.iconosRedes .redesLogos1 {
  transition: 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 90%;
  padding: 15%;
  background: linear-gradient(to left, rgb(134, 239, 172), rgb(192, 132, 252));
  border-radius: 100%;
}
.iconosRedes .redesLogos1:hover {
  transform: translateY(-5%) translateY(2%);
  transition: 1s ease-in-out;
}

.totalColor {
  background: linear-gradient(to right, rgb(134, 239, 172), rgb(192, 132, 252));
}

/* Importamos el SCSS para nuestra hamburger*/
@media screen and (max-width: 992px) {
  .logo {
    transition: none;
    position: absolute;
    right: 3%;
    top: 2%;
    background: linear-gradient(to right, rgb(134, 239, 172), rgb(192, 132, 252));
    border-radius: 100%;
    width: 15%;
  }
  header nav ul {
    flex-direction: column;
    justify-content: start;
    min-width: 100vw;
  }
  header nav ul li {
    margin-bottom: 12%;
    margin-top: -20%;
  }
  .contenedor {
    max-width: 100%;
    width: 96%;
    height: 100%;
    margin: auto;
  }
  .navbar {
    width: 100%;
  }
  .navbar1 {
    width: 100%;
  }
  .contenedorNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  .contenedorNav {
    display: block;
    z-index: 4;
    position: relative;
    height: 60px;
  }
  .contenedorNav .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 8;
    opacity: 0;
    cursor: pointer;
  }
  .contenedorNav .lineasHamburguer {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contenedorNav .lineasHamburguer .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  .contenedorNav .lineasHamburguer .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .contenedorNav .lineasHamburguer .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .contenedorNav .lineasHamburguer .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .contenedorNav input[type=checkbox]:checked ~ ul {
    transform: translateX(0);
  }
  .contenedorNav input[type=checkbox]:checked ~ .lineasHamburguer .line1 {
    transform: rotate(45deg);
  }
  .contenedorNav input[type=checkbox]:checked ~ .lineasHamburguer .line2 {
    transform: scaleY(0);
  }
  .contenedorNav input[type=checkbox]:checked ~ .lineasHamburguer .line3 {
    transform: rotate(-45deg);
  }
  .navbar ul {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    height: 185vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    z-index: 2;
    background-color: #F4F3EF;
  }
}
/* Importamos el SCSS para particularidades en proximos*/
/* Iniciamos nuestro grid del main PROX*/
#mainProx {
  display: grid;
  grid-template-areas: "hdr hdr" "img art" "ftr ftr";
  row-gap: 5%;
  justify-content: center;
}

/* Imagen de la proxima mesa publica*/
#imgProx {
  grid-area: img;
  width: 60%;
  justify-self: center;
  margin-left: 15%;
}

/*Texto al inicio del parrafo*/
.textoInicio {
  text-align: start;
  margin-right: 30%;
}
.textoInicio .linkColab {
  font-weight: 700;
  margin-left: 3%;
}

@media screen and (max-width: 992px) {
  #mainProx {
    row-gap: 6%;
    display: grid;
    grid-template-areas: "hdr" "img" "art" "ftr";
  }
  #imgProx {
    margin: 0;
  }
  .textoInicio {
    text-align: center;
    margin: 0 15% 0 15%;
  }
}
@media (max-width: 430px) {
  #imgProx {
    margin-top: 5%;
    width: 90%;
  }
}
/* Importamos el SCSS para particularidades en ante*/
#mainAnte {
  display: grid;
  grid-template-areas: "hdr" "gal" "ftr";
  row-gap: 5%;
  justify-content: center;
}

.wrapper {
  width: 100%;
}
.wrapper .gallery ul {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 5%;
  justify-items: center;
  list-style-type: none;
}
.wrapper .gallery ul li {
  position: relative;
  float: left;
  width: 400px;
  height: 500px;
  z-index: 0;
}
.wrapper .gallery ul li:hover {
  z-index: 5;
}
.wrapper .gallery ul li img {
  transition: 1s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
}
.wrapper .gallery ul li img:hover {
  width: 100%;
  height: 100%;
  transform: translateY(-5%) translateY(2%);
  transition: 1s ease-in-out;
}

/* Importamos el SCSS para todos nuestros header*/
/* Aqui iniciamos nuestro HEADER */
/* Generamos un grid que contiene tanto nuestra barra de 
navegacion, nuestro logo y nuestro titulo */
header {
  grid-area: hdr;
  display: grid;
  grid-template-areas: "logo nav" "tit tit";
  grid-template-columns: 2fr 7fr;
  grid-template-rows: 80% 20%;
  align-items: center;
}
header #logoContainer {
  display: flex;
  justify-content: center;
}
header .logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  width: 50%;
}
header nav {
  grid-area: nav;
}
header nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin-left: 4%;
  margin-right: 30%;
}
@media screen and (max-width: 992px) {
  header nav ul {
    justify-content: start;
  }
  header nav ul li {
    margin-top: 1%;
  }
}
header h1 {
  grid-area: tit;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: center;
}

.min {
  text-transform: lowercase;
}

.checkbox {
  display: none;
}

@media screen and (max-width: 992px) {
  header {
    display: grid;
    grid-template-areas: "nav nav" "tit tit";
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 80% 20%;
    row-gap: 20%;
    align-items: center;
    margin-bottom: 4%;
  }
  header .logo {
    width: 10%;
  }
}
@media (max-width: 430px) {
  #logoContainer {
    overflow: hidden;
  }
  header {
    row-gap: 40%;
    align-items: center;
    margin-bottom: 10%;
  }
  header .logo {
    width: 20%;
    top: 0.5%;
    right: 1.5%;
  }
}
/* Importamos el SCSS para todos nuestros header*/
/* Aqui iniciamos nuestro Article */
article {
  grid-area: art;
  align-self: center;
  justify-self: center;
}
article h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  margin-top: 3%;
  font-style: normal;
  text-align: center;
}
article p {
  text-align: center;
  margin-top: 2%;
  margin-left: 21%;
  margin-right: 21%;
}
article p span {
  font-style: italic;
}

@media (max-width: 430px) {
  article h2 {
    margin-left: 8%;
    margin-right: 8%;
  }
  article p {
    margin: 5% 15% 7% 15%;
  }
  .textoInicio {
    margin-bottom: 8%;
    margin-top: -8%;
  }
}
/* Importamos el SCSS para particularidades en Index*/
/* AQUI ES PARA DESKTOP */
/* Iniciamos nuestro grid de INDEX */
#mainIndex {
  display: grid;
  grid-template-areas: "hdr" "art" "ftr";
  row-gap: 1%;
}

@media screen and (max-width: 992px) {
  #mainIndex {
    grid-template-areas: "hdr" "art" "ftr";
    row-gap: 4%;
  }
}
/* Importamos el SCSS para todos nuestros footer*/
/* Aqui iniciamos nuestro Footer */
footer {
  color: transparent;
  grid-area: ftr;
  margin-top: 20%;
  padding: 2%;
  background: linear-gradient(to right, rgb(86, 221, 178), rgb(134, 239, 172), rgb(192, 132, 252), rgb(255, 91, 176));
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  display: grid;
  grid-template-columns: 5% 15% 5%;
  justify-content: space-between;
  /* LOGOS DE INSTAGRAM Y FACEBOOK*/
  /* LOGO DE MESA PUBLICA Y SU ANIMACION*/
}
@keyframes gradient {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 50% 25%;
  }
  100% {
    background-position: 0% 25%;
  }
}
footer #insta {
  position: relative;
  left: 750%;
  top: 10%;
}
footer #insta .redesLogos {
  transition: 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 90%;
  padding: 15%;
  background: linear-gradient(to left, rgb(134, 239, 172), rgb(192, 132, 252));
  border-radius: 100%;
}
@media screen and (max-width: 450px) {
  footer #insta .redesLogos {
    max-width: 200%;
  }
}
footer #insta .redesLogos:hover {
  transform: translateY(-5%) translateY(2%);
  transition: 1s ease-in-out;
}
footer .logoFooter {
  transition: 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  top: -60%;
  max-width: 100%;
  background: linear-gradient(to right, rgb(134, 239, 172), rgb(192, 132, 252));
  border-radius: 100%;
}
footer .logoFooter:hover {
  transform: translateY(-5%) translateY(2%);
  transition: 1s ease-in-out;
}
footer #face {
  position: relative;
  right: 750%;
  top: 10%;
}
@media screen and (max-width: 450px) {
  footer #face {
    right: 820%;
  }
}
footer #face .redesLogos {
  transition: 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 90%;
  padding: 15%;
  background: linear-gradient(to left, rgb(134, 239, 172), rgb(192, 132, 252));
  border-radius: 100%;
}
@media screen and (max-width: 450px) {
  footer #face .redesLogos {
    max-width: 200%;
  }
}
footer #face .redesLogos:hover {
  transform: translateY(-5%) translateY(2%);
  transition: 1s ease-in-out;
}

@media screen and (max-width: 992px) {
  .redesLogos {
    max-width: 100%;
    padding: 15%;
  }
  .resize {
    width: 27%;
    position: relative;
    top: -20%;
  }
}
/* Importamos el SCSS para nuestra comunidad*/
/* Importamos el SCSS para nuestras cards*/
#colabCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}
#colabCards .colabCard {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
}
#colabCards .colabCard .imgMesa {
  width: 100%;
  height: auto;
}

.cardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}
.cardOverlay .cardHeader {
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  background-color: #fff;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}
.cardOverlay .imgColab {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.cardOverlay .descCard {
  padding: 0 2em 2em;
  margin: 0;
  color: #000;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-align: center;
}

.colabCard:hover .cardOverlay {
  transform: translateY(0);
}

.colabCard:hover .cardHeader {
  transform: translateY(0);
}

@media (max-width: 430px) {
  #colabCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    margin: 0rem 5vw;
    padding: 0;
    list-style-type: none;
  }
}
#mainCom {
  display: grid;
  grid-template-areas: "hdr" "art" "col" "ftr";
  row-gap: 1%;
  justify-content: center;
}

@media (max-width: 992px) {
  #colabCards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/*# sourceMappingURL=style.css.map */
